header{ z-index: 999; color: #ae782b; font-weight: 700; position: fixed; background-color: #fff; top: 0; left: 0; right: 0; }
header.active{color: #fff; background-color: #555;}
select{background-color: rgba(157,255,176, .3); border-radius: 8px;  padding: .2rem; min-width: 200px;}
.inputs >*{margin: 0 .2em;}

.checkBox{position: relative; padding-left: 35px; cursor: pointer; }
.checkBox input {display: none;}
.checkMark{width: 30px; height: 30px; line-height: 30px; color: #ae782b; text-align: center; border-radius: 8px; background-color: rgba(157,255,176, .2); display: inline-block; vertical-align: middle; margin-left: 5px;}
.checkMark svg{display: inline; opacity: 0;}
.checkBox input:checked ~ .checkMark {
  background-color: rgba(157,255,176, 1);
}
.checkBox input:checked ~ .checkMark svg{opacity: 1;}

.lightMode{font-weight: 700; text-transform: uppercase; border: 8px; padding: .4rem; background-color: rgba(129,241,247, .2);  color: #ae782b;}
.lightMode.active{background-color: rgba(129,241,247, 1); }



