header{ z-index: 999; color: #ae782b; font-weight: 700; position: fixed; background-color: #fff; top: 0; left: 0; right: 0; }
header.active{color: #fff; background-color: #555;}


.lightMode{font-weight: 700; text-transform: uppercase; border: 8px; padding: .4rem; background-color: rgba(129,241,247, .2);  color: #ae782b; display: block; width: 100%;}
.lightMode.active{background-color: rgba(129,241,247, 1); }








